<!--   Footer Section Start-->
<footer id="footer-section" class="mt-auto">
    <div class="footer-content bg-dark text-white text-center p-3">
        Aimagambetov Nariman | SE-2208
    </div>
</footer>